/*.grid-container{
	display: grid;
	grid: auto;
	width: 500px;
	height: 10000px;
	grid-template-rows: repeat(100, 100px)
	grid-template-columns: auto;
	background-color: blue;
	float: left;
	position: absolute;
	margin-left: 350px;
	grid-row-gap: 100px;
}

.item1{
	grid-row:2;
}

p{
	position: fixed;
	font-family: 'avenir next';
	font-size: 100px;
}*/

body{
	background-color: gray;
	font-family: 'Brandon Grotesque';
}

.button {
    background-color: white;
    border: none;
    color: red;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 25px;
    margin: 2px 2px;
    cursor: pointer;
    float: left;
    position: absolute;
    margin-top: 7025px;
    margin-left: 1000px;
    font-weight: 900;
}

.button:hover{
	background-color: #efefef;
}

.door{	
	height: 500px;
	width: 250px;
	background-color: #4d5b5e;
	float: left;
	position: absolute;
	margin-left: 474px;
	z-index: -10;
}

.fourf{
	float: left;
	position: absolute;
	width: 50px;
	font-size: 30px;
	text-align: center;
	margin-left: 100px;
	margin-top: 100px;
	color: white;
	background-color: gray;
	z-index: -10;
	text-decoration: none;
	border-radius: 25%;
}

.fourf:hover{
	background-color: #e2e2e2;
}


.handle{
	height: 25px;
	width: 25px;
	background-color: #adadad;
	margin-top: 250px;
	margin-left: 190px;
	border-radius: 50%;
	float: left;
	position: absolute;
	z-index: -10;
}
.handlebar{
	height: 12px;
	width: 40px;
	background-color: #adadad;
	float: left;
	position: absolute;
	margin-top: 257px;
	margin-left: 160px;
	z-index: -10;

}


.stairs{
	width: 500px;
	position: absolute;
	/*background-color: ;*/
	margin-left: 350px;
	margin-top: 500px;
	z-index: -10;
}

.row1{
	width: 500px;
	height: 100px;
	float: left;
	background-color: black;
	margin-bottom: 100px;
/*	font-family: 'avenir next';*/
	font-size: 30px;
	color: yellow;
	text-align: center;
}

p{
	line-height: 1;
}



.row{
	width: 500px;
	height: 100px;
	float: left;
	background-color: black;
	margin-bottom: 100px;
}

.footsteps{
	width: 60px;
	transform: rotate(180deg);
	margin-left: 200px;
}

.row:hover{
	background-color: yellow;
}

.row:hover ~ .footsteps{
	display: block;
}

/*<!-- scrolling down text -->*/	

.example3 {
 width: 1300px;
 height: 7000px;
 overflow: hidden;
 position: absolute;
 z-index: -10;
}
.example3 h3 {
 position: relative;
 width: 100%;
 height: 100%;
 margin-left: 0px;
 line-height: 100px;
 text-align: center;
 font-size: 50px;
 color: white;
 /* Starting position */
 -moz-transform:translateY(100%);
 -webkit-transform:translateY(100%);	
 transform:translateY(100%);
 /* Apply animation to this element */	
 -moz-animation: example3 20s linear infinite;
 -webkit-animation: example3 20s linear infinite;
 animation: example3 20s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes example3 {
 0%   { -webkit-transform: translateY(50%); }
 30% { -webkit-transform: translateY(-1%); }
 60% { -webkit-transform: translateY(50%); }
 100% { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes example3 {
 0%   { -webkit-transform: translateY(50%); }
 30% { -webkit-transform: translateY(-1%); }
 60% { -webkit-transform: translateY(50%); }
 100% { -webkit-transform: translateY(100%); }
}

/*@keyframes example3 {
 0%   { 
 -moz-transform: translateY(-1%); /* Firefox bug fix */
 -webkit-transform: translateY(-1%); /* Firefox bug fix */
 transform: translateY(-1%); 		
 }

 100% { 
 -moz-transform: translateY(100%); /* Firefox bug fix */
 -webkit-transform: translateY(100%); /* Firefox bug fix */
 transform: translateY(100%); 
 }*/



