body{
	background-color: beige;
	font-family: brandon-grotesque, sans-serif;
}

#draggable{
	width: 400px;
}

.dollarbill{
	width: 200px;
	cursor: pointer;
}

#hand{
	width: 500px;
	float: left;
	position: absolute;
	margin-left: 770px;
	z-index: -10;
	margin-top: -70px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#hand2{
	width: 500px;
	float: left;
	position: absolute;
	margin-left: 770px;
	margin-top: 300px;
}

#baconeggcheese{
	width: 200px;
	float: left;
	position: absolute;
	margin-left: 900px;
	margin-top: 90px;
}

.button{
	width: 350px;
	height: 60px;
	background-color: black;
	float: left;
	position: absolute;
	margin-top: 200px;
	margin-left: 300px;
	cursor: pointer;
	color: white;
	padding: 2px;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
}

.button:hover{
	background-color: #e2e2e2;
}

.train{
	float: left;
	position: absolute;
	background-color: black;
	width: 350px;
	height: 50px;
	margin-top: 280px;
	margin-left: 300px;
	cursor: pointer;
	color: white;
	padding: 2px;
	font-size: 20px;
	text-align: center;
	line-height: 2.5;
}

.train:hover{
	background-color: #e2e2e2;
}

#fourbucks{
	float: left;
	position: absolute;
	font-size: 25px;
	color: red;
	margin-left: 880px;
	margin-top: 300px;
	width: 300px;
	text-align: center;
	background-color: white;
}

